@charset "UTF-8";

@font-face {
  font-family: "HelveticaNeue";
  font-display: swap;
  src: url("../fonts/HelveticaNeue-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeue-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  font-display: swap;
  src: url("../fonts/HelveticaNeue-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeue-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-Avatar:before {
  content: "\e900";
}

._icon-arrow-down:before {
  content: "\e901";
}

._icon-Facebook:before {
  content: "\e902";
}

._icon-arrow-next:before {
  content: "\e903";
}

._icon-Instagram:before {
  content: "\e904";
}

._icon-Twitter:before {
  content: "\e905";
}

._icon-Xbox:before {
  content: "\e906";
}

._icon-arrow_right:before {
  content: "\e907";
}

._icon-arrow_left:before {
  content: "\e908";
}

._icon-search:before {
  content: "\e986";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "HelveticaNeue";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "HelveticaNeue";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #000;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #858585;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0px 15px;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.button._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.swiper-pagination-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-pagination-bullet {
  cursor: pointer;
  width: 10px;
  height: 10px;
  border: 1px solid #8DD83D;
  border-radius: 50%;
}

.swiper-pagination-bullet:not(:last-child) {
  margin: 0px 10px 0px 0px;
}

.swiper-pagination-bullet-active {
  background: #8DD83D;
}

._title {
  font-size: 18px;
  line-height: 116.6666666667%;
  color: #7DD42F;
  padding-bottom: 34px;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.header {
  background-color: #373A3C;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  position: relative;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 384px;
          flex: 0 1 384px;
  padding: 0px 15px 0px 0px;
  z-index: 10;
}

.header__search {
  margin-right: 29px;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 25px 0px 0px;
}

.menu__link {
  line-height: 100%;
  color: rgba(255, 255, 255, 0.5);
  padding: 10px 0px;
}

.menu__link:not(:last-child) {
  margin: 0px 8px 0px 0px;
}

.menu__arrow {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 8px;
  color: #8DD83D;
}

.menu__sub-list {
  position: relative;
  background-color: #000;
  padding: 15px;
  border-radius: 3px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.menu__sub-item:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.icon-menu {
  display: none;
}

.search-form {
  max-width: 210px;
}

.search-form._active .search-form__item {
  opacity: 1;
  top: 110%;
  visibility: visible;
  border-radius: 2px;
}

.search-form._active .search-form__icon {
  color: #fff;
}

.search-form__icon {
  position: relative;
  z-index: 5;
  font-size: 20px;
  color: #8DD83D;
}

.search-form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 4px;
  padding: 0px 10px;
}

.search-form__btn {
  color: #435766;
  opacity: 0.4;
  margin-right: 5px;
  height: 34px;
}

.search-form__input {
  line-height: 131%;
  color: #435766;
  opacity: 0.4;
  width: 100%;
}

.actions-header {
  position: relative;
}

.actions-header__avatar {
  font-size: 20px;
  color: #8DD83D;
}

.actions-header__name {
  width: 70px;
  overflow: hidden;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.5);
  margin: 0px 9px 0px 5px;
}

.actions-header__arrow {
  cursor: pointer;
  font-size: 8px;
  color: #8DD83D;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.actions-header__arrow._active {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.actions-header__sub-list {
  position: relative;
  background-color: #000;
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  z-index: 1;
}

.actions-header__sub-item {
  text-align: right;
}

.actions-header__sub-item:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

/*
//Кнопка спойлер + выпадающий список:
	<button data-spoller type="button" class="menu_arrow _icon-arrow-down"></button>
	<ul class="menu__sub-list">
		<li class="menu__sub-item">
			<a href="" class="menu__sub-link">Link #1</a>
		</li>
		<li class="menu__sub-item">
			<a href="" class="menu__sub-link">Link #2</a>
		</li>
		<li class="menu__sub-item">
			<a href="" class="menu__sub-link">Link #3</a>
		</li>
	</ul>
*/

/*
opacity: 0;  //прозрачность
opacity: 1;

visibility: hidden;  //видимость
visibility: visible;

pointer-events: none;
pointer-events: auto;
*/

/*
//Кнопка с наведением: 
	.btn {
	background-color: #FF6464;
	border-radius: 2px;
	font-weight: 500px;
	font-size: 20px;
	color: #fff;
	line-height: 145%;
	height: 47px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0px 20px;
	transition: background-color 0.3s ease 0s;
		&:hover {
			background-color:darkcyan;
		}
}
*/

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

footer {
  background-color: #373A3C;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 58px;
  padding-bottom: 49px;
}

.footer__xbox {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 390px;
          flex: 0 1 390px;
}

.footer__developers {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 375px;
          flex: 0 1 375px;
}

.xbox__item:not(:last-child) {
  margin: 0px 0px 28px 0px;
}

.xbox__link {
  font-size: 14px;
  line-height: 114.2857142857%;
  color: #fff;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  padding: 10px 0px;
}

.developers__item:not(:last-child) {
  margin: 0px 0px 28px 0px;
}

.developers__link {
  font-size: 14px;
  line-height: 114.2857142857%;
  color: #fff;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  padding: 10px 0px;
}

.follow__title {
  font-size: 18px;
  line-height: 116.6666666667%;
  color: #7DD42F;
  padding-bottom: 28px;
}

.follow__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.follow__facebook {
  margin-right: 20px;
  color: #8DD83D;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.follow__twitter {
  margin-right: 20px;
  color: #8DD83D;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.follow__instagram {
  color: #8DD83D;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.copyright__body {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 19px;
  padding-bottom: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #CCCCCC;
  color: #fff;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.copyright__country {
  line-height: 118.75%;
  font-size: 16px;
}

.copyright__company {
  line-height: 118.75%;
  font-size: 16px;
}

.page__games {
  position: relative;
}

.page__highlights {
  background: -o-radial-gradient(50% 0%, 100% 100%, #686C6F 0%, #373A3C 100%);
  background: radial-gradient(100% 100% at 50% 0%, #686C6F 0%, #373A3C 100%);
}

.slider {
  color: #FFFFFF;
}

.content-main__slider {
  position: relative;
}

.content-main__image {
  padding: 0px 0px 46% 0px;
  min-height: 600px;
}

.content-main__body {
  position: absolute;
  top: 225px;
  right: 23%;
  width: 340px;
  padding: 10px 5px;
}

.content-main__title {
  font-size: 36px;
  line-height: 116.6666666667%;
  cursor: auto;
}

.content-main__subtitle {
  font-size: 24px;
  line-height: 116.6666666667%;
  cursor: auto;
  margin-bottom: 134px;
}

.content-main__bullets {
  position: absolute;
  bottom: 7%;
  left: 48.1%;
}

.buttons-content-main__trailer {
  width: 136px;
  line-height: 131%;
  margin-right: 13px;
  border-radius: 4px;
  height: 38px;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 8px 24px 9px 19px;
  background-size: 300% 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#009245), color-stop(#FCEE21), color-stop(#00A8C5), to(#D9E021));
  background-image: -o-linear-gradient(left, #009245, #FCEE21, #00A8C5, #D9E021);
  background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
  background-position: 0 0;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.buttons-content-main__games {
  line-height: 131%;
  border-radius: 4px;
  padding: 8px 19px 9px 19px;
  height: 38px;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-size: 300% 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#29323c), color-stop(#485563), color-stop(#2b5876), to(#4e4376));
  background-image: -o-linear-gradient(left, #29323c, #485563, #2b5876, #4e4376);
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  background-position: 0 0;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.arrows-content-main_prev {
  color: #8DD83D;
  font-size: 35px;
  position: absolute;
  top: 48%;
  left: 4%;
}

.arrows-content-main_next {
  color: #8DD83D;
  font-size: 35px;
  position: absolute;
  top: 48%;
  right: 4%;
}

.highlights {
  position: relative;
}

.highlights__body {
  padding-top: 64px;
  padding-bottom: 162px;
}

.highlights__top {
  color: #fff;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 42px;
}

.highlights__logo {
  padding-bottom: 16px;
}

.highlights__title {
  line-height: 116.6666666667%;
  font-size: 48px;
}

.highlights__subtitle {
  line-height: 116.6666666667%;
  font-size: 36px;
}

.highlights__card {
  display: -ms-grid;
  display: grid;
  gap: 60px;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

.card__body {
  color: #435766;
  background: #FFFFFF;
  border: 1px solid #8DD83D;
  border-radius: 4px;
}

.card__image {
  padding: 0px 0px 56.6037735849% 0px;
}

.card__content {
  padding-top: 22px;
  padding-left: 22px;
  padding-right: 21px;
  padding-bottom: 27px;
}

.card__name {
  font-size: 18px;
  line-height: 116%;
  margin-bottom: 13px;
}

.card__title {
  font-size: 24px;
  line-height: 116%;
  margin-bottom: 38px;
  max-width: 275px;
}

.card__button {
  background-color: #8DD83D;
  border-radius: 4px;
  color: #fff;
  line-height: 131%;
  width: 100%;
  height: 60px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0px 5px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.lab {
  position: relative;
}

.lab__body {
  position: relative;
  z-index: 2;
  color: #fff;
  max-width: 500px;
  padding-top: 114px;
  padding-bottom: 145px;
}

.lab__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.body-lab__title {
  line-height: 116.6666666667%;
  margin-bottom: 9px;
  font-size: 48px;
}

.body-lab__text {
  line-height: 116.6666666667%;
  margin: 0px 0px 37px 0px;
  font-size: 24px;
}

.body-lab__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buttons-body-lab__grey {
  line-height: 131%;
  border-radius: 4px;
  width: 207px;
  height: 60px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0px 5px;
  background-size: 300% 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#29323c), color-stop(#485563), color-stop(#2b5876), to(#4e4376));
  background-image: -o-linear-gradient(left, #29323c, #485563, #2b5876, #4e4376);
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  background-position: 0 0;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin-right: 15px;
}

.buttons-body-lab__green {
  border-radius: 4px;
  color: #fff;
  line-height: 131%;
  width: 278px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0px 5px;
  background-size: 300% 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#009245), color-stop(#FCEE21), color-stop(#00A8C5), to(#D9E021));
  background-image: -o-linear-gradient(left, #009245, #FCEE21, #00A8C5, #D9E021);
  background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
  background-position: 0 0;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.exclusive {
  position: relative;
}

.exclusive__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.exclusive__container {
  max-width: 1460px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  padding-top: 97px;
  padding-bottom: 140px;
}

.exclusive__title {
  font-size: 36px;
  line-height: 116.6666666667%;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 27px;
}

.exclusive__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.exclusive__button {
  font-size: 21px;
  line-height: 100%;
  border-radius: 4px;
  width: 207px;
  height: 53px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0px 5px;
  background-size: 300% 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#29323c), color-stop(#485563), color-stop(#2b5876), to(#4e4376));
  background-image: -o-linear-gradient(left, #29323c, #485563, #2b5876, #4e4376);
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  background-position: 0 0;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin: 0 auto;
}

.slider-exclusive__body {
  margin-bottom: 58px;
}

.slider-exclusive__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 462px;
}

.slider-exclusive__card {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #8DD83D;
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #435766;
}

.slider-exclusive__image {
  padding: 0px 0px 56.6037735849% 0px;
}

.slider-exclusive__content {
  padding-top: 22px;
  padding-bottom: 27px;
  padding-left: 20px;
  padding-right: 20px;
}

.slider-exclusive__name {
  font-size: 18px;
  line-height: 116.6666666667%;
  margin-bottom: 16px;
}

.slider-exclusive__title {
  max-width: 264px;
  font-size: 21px;
  line-height: 119.0476190476%;
  margin-bottom: 43px;
  -webkit-transition: margin-bottom 0.8s ease 0s;
  -o-transition: margin-bottom 0.8s ease 0s;
  transition: margin-bottom 0.8s ease 0s;
}

.slider-exclusive__button {
  background-color: #8DD83D;
  border-radius: 4px;
  color: #fff;
  line-height: 131%;
  max-width: 278px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0px 5px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.controls-exclusive_prev {
  display: none;
}

.controls-exclusive_next {
  display: none;
}

@media (min-width: 767.98px) {
  .menu__item._hover .menu__sub-list {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
  }

  .menu__item._hover .menu__arrow {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
    color: #b8ffa7;
  }

  .menu__item._hover .menu__link {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
    color: #fff;
  }

  .menu__sub-list {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translate(0px, 10px);
        -ms-transform: translate(0px, 10px);
            transform: translate(0px, 10px);
    min-width: 210px;
    left: -15%;
    position: absolute;
    top: 100%;
    z-index: 5;
  }

  .menu__sub-link {
    color: #8DD83D;
    line-height: 100%;
  }

  .actions-header__sub-list {
    min-width: 145px;
    right: 0;
    position: absolute;
    top: 150%;
  }

  .actions-header__sub-link {
    color: #8DD83D;
    line-height: 100%;
  }

  .slider-exclusive__slider.swiper-slide-active .slider-exclusive__card {
    max-height: 100%;
    width: 352px;
  }

  .slider-exclusive__slider.swiper-slide-active .slider-exclusive__title {
    margin-bottom: 70px;
  }

  .slider-exclusive__slider.swiper-slide-active .slider-exclusive__button {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin: 0 auto;
  }

  .slider-exclusive__card {
    max-height: 91%;
    width: 320px;
  }
}

@media (min-width: 767.98px) and (any-hover: hover) {
  .menu__sub-link:hover {
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .actions-header__sub-link:hover {
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .header__search {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .search-form__icon {
    display: none;
  }

  .exclusive__container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .slider-exclusive__body {
    padding: 0px 10px;
  }

  .controls-exclusive_prev {
    display: contents;
    position: absolute;
    top: 105px;
    left: 0;
    color: #8DD83D;
    font-size: 60px;
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .controls-exclusive_next {
    display: contents;
    position: absolute;
    top: 105px;
    right: 0;
    color: #8DD83D;
    font-size: 60px;
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }
}

@media (min-width: 991.98px) and (any-hover: hover) {
  .controls-exclusive_prev:hover {
    color: #69a32c;
  }

  .controls-exclusive_next:hover {
    color: #69a32c;
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1110px) {
  ._title {
    padding-bottom: calc(20px + 14 * ((100vw - 320px) / 790));
  }

  .footer__body {
    padding-top: calc(15px + 43 * ((100vw - 320px) / 790));
  }

  .footer__body {
    padding-bottom: calc(15px + 34 * ((100vw - 320px) / 790));
  }

  .follow__title {
    padding-bottom: calc(20px + 8 * ((100vw - 320px) / 790));
  }

  .copyright__body {
    padding-bottom: calc(20px + 18 * ((100vw - 320px) / 790));
  }

  .copyright__country {
    font-size: calc(11px + 5 * ((100vw - 320px) / 790));
  }

  .copyright__company {
    font-size: calc(11px + 5 * ((100vw - 320px) / 790));
  }

  .highlights__body {
    padding-top: calc(20px + 44 * ((100vw - 320px) / 790));
  }

  .highlights__body {
    padding-bottom: calc(20px + 142 * ((100vw - 320px) / 790));
  }

  .highlights__top {
    padding-bottom: calc(20px + 22 * ((100vw - 320px) / 790));
  }

  .highlights__logo {
    padding-bottom: calc(10px + 6 * ((100vw - 320px) / 790));
  }

  .highlights__title {
    font-size: calc(35px + 13 * ((100vw - 320px) / 790));
  }

  .highlights__subtitle {
    font-size: calc(20px + 16 * ((100vw - 320px) / 790));
  }

  .highlights__card {
    gap: calc(20px + 40 * ((100vw - 320px) / 790));
  }

  .card__content {
    padding-top: calc(10px + 12 * ((100vw - 320px) / 790));
  }

  .card__content {
    padding-left: calc(10px + 12 * ((100vw - 320px) / 790));
  }

  .card__content {
    padding-right: calc(10px + 11 * ((100vw - 320px) / 790));
  }

  .card__content {
    padding-bottom: calc(10px + 17 * ((100vw - 320px) / 790));
  }

  .card__name {
    font-size: calc(15px + 3 * ((100vw - 320px) / 790));
  }

  .card__name {
    margin-bottom: calc(10px + 3 * ((100vw - 320px) / 790));
  }

  .card__title {
    font-size: calc(15px + 9 * ((100vw - 320px) / 790));
  }

  .card__title {
    margin-bottom: calc(10px + 28 * ((100vw - 320px) / 790));
  }

  .lab__body {
    padding-top: calc(60px + 54 * ((100vw - 320px) / 790));
  }

  .lab__body {
    padding-bottom: calc(60px + 85 * ((100vw - 320px) / 790));
  }

  .body-lab__title {
    font-size: calc(36px + 12 * ((100vw - 320px) / 790));
  }

  .body-lab__text {
    font-size: calc(21px + 3 * ((100vw - 320px) / 790));
  }

  .buttons-body-lab__grey {
    height: calc(50px + 10 * ((100vw - 320px) / 790));
  }

  .buttons-body-lab__green {
    height: calc(50px + 10 * ((100vw - 320px) / 790));
  }

  .exclusive__container {
    padding-top: calc(30px + 67 * ((100vw - 320px) / 790));
  }

  .exclusive__container {
    padding-bottom: calc(30px + 110 * ((100vw - 320px) / 790));
  }

  .exclusive__title {
    margin-bottom: calc(5px + 22 * ((100vw - 320px) / 790));
  }

  .exclusive__button {
    font-size: calc(18px + 3 * ((100vw - 320px) / 790));
  }

  .slider-exclusive__body {
    margin-bottom: calc(10px + 48 * ((100vw - 320px) / 790));
  }

  .slider-exclusive__name {
    font-size: calc(13px + 5 * ((100vw - 320px) / 790));
  }

  .slider-exclusive__name {
    margin-bottom: calc(10px + 6 * ((100vw - 320px) / 790));
  }

  .slider-exclusive__title {
    font-size: calc(14px + 7 * ((100vw - 320px) / 790));
  }

  .slider-exclusive__title {
    margin-bottom: calc(15px + 28 * ((100vw - 320px) / 790));
  }

  .slider-exclusive__button {
    height: calc(50px + 10 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 991.98px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .search-form__item {
    -webkit-box-shadow: 0 0 5px rgba(212, 209, 205, 0.3);
            box-shadow: 0 0 5px rgba(212, 209, 205, 0.3);
    position: absolute;
    width: 100%;
    left: 0;
    top: -100%;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .content-main__body {
    width: 100%;
    text-align: center;
    right: 0;
    top: 170px;
  }

  .content-main__title {
    font-size: 45px;
  }

  .content-main__subtitle {
    font-size: 28px;
  }

  .buttons-content-main__trailer {
    width: 145px;
    font-size: 16px;
    margin-right: 8px;
  }

  .buttons-content-main__games {
    width: 145px;
    font-size: 16px;
    padding: 8px 15px 9px 15px;
  }

  .slider-exclusive__body {
    margin-right: -5px;
  }
}

@media (max-width: 991px) {
  .content-main__arrows {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }

  .header__body {
    height: 50px;
  }

  .header__logo {
    margin-left: 45px;
    margin-right: 350px;
  }

  .header__search {
    margin: 0px 10px 0px 0px;
  }

  .menu__body {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    padding: 70px 15px 30px 15px;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    z-index: 2;
    background-color: #373A3C;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body._active::before {
    left: 0;
  }

  .menu__list {
    display: block;
  }

  .menu__item {
    display: block;
    width: 100%;
    margin: 0px 0px 10px 0px;
  }

  .menu__link {
    font-size: 24px;
    color: #fff;
  }

  .menu__arrow {
    font-size: 13px;
    float: right;
  }

  .menu__arrow._active {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  }

  .menu__sub-list {
    background-color: #8DD83D;
    margin: 5px -10px;
  }

  .menu__sub-link {
    color: #000;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 15px;
    left: 3px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #8DD83D;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: calc(50% - 1px);
  }

  .actions-header__sub-list {
    min-width: 145px;
    right: 0;
    position: absolute;
    top: 120%;
  }

  .actions-header__sub-link {
    color: #8DD83D;
    line-height: 100%;
  }

  .content-main__bullets {
    position: absolute;
    bottom: 7%;
    left: 46.5%;
  }

  .lab__background {
    opacity: 0.5;
  }

  .exclusive__background {
    opacity: 0.5;
  }

  .exclusive__button {
    width: 90%;
  }

  .slider-exclusive__content {
    padding-top: 20px;
    padding-bottom: 22px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767.98px) and (max-width: 1110px) {
  .header__logo {
    margin-right: calc(1px + 349 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 767.98px) and (any-hover: hover) {
  .actions-header__sub-link:hover {
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

@media (max-width: 470px) {
  .body-lab__buttons {
    display: block;
  }

  .buttons-body-lab__grey {
    margin: 0px 0px 10px 0px;
  }
}

@media (max-width: 450px) {
  .content-main__bullets {
    position: absolute;
    bottom: 7%;
    left: 44%;
  }
}

@media (max-width: 420px) {
  .follow__title {
    display: none;
  }

  .follow__socials {
    display: block;
    text-align: center;
    padding: 5px 10px;
  }
}

@media (max-width: 340px) {
  .header__logo img {
    width: 90px;
  }
}

@media (min-width: 991.98px) and (max-width: 1110px) {
  .controls-exclusive_prev {
    font-size: calc(40px + 20 * ((100vw - 320px) / 790));
  }

  .controls-exclusive_next {
    font-size: calc(40px + 20 * ((100vw - 320px) / 790));
  }
}

@media (any-hover: hover) {
  .menu__item:hover .menu__sub-list {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
  }

  .menu__item:hover .menu__arrow {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
    color: #b8ffa7;
  }

  .menu__item:hover .menu__link {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
    color: #fff;
  }

  .actions-header__avatar:hover {
    color: #b8ffa7;
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .actions-header__name:hover {
    color: #fff;
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .actions-header__arrow:hover {
    color: #8cff6f;
  }

  .xbox__link:hover {
    color: #8DD83D;
  }

  .developers__link:hover {
    color: #8DD83D;
  }

  .follow__facebook:hover {
    color: #fff;
  }

  .follow__twitter:hover {
    color: #fff;
  }

  .follow__instagram:hover {
    color: #fff;
  }

  .buttons-content-main__trailer:hover {
    background-image: -webkit-gradient(linear, left top, right top, from(#009245), color-stop(#FCEE21), color-stop(#00A8C5), to(#D9E021));
    background-image: -o-linear-gradient(left, #009245, #FCEE21, #00A8C5, #D9E021);
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    background-position: 100% 0;
    -webkit-box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
            box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
  }

  .buttons-content-main__games:hover {
    background-image: -webkit-gradient(linear, left top, right top, from(#6253e1), color-stop(#852D91), color-stop(#A3A1FF), to(#F24645));
    background-image: -o-linear-gradient(left, #6253e1, #852D91, #A3A1FF, #F24645);
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    background-position: 100% 0;
    -webkit-box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
            box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
  }

  .card__button:hover {
    background-color: #6ca33c;
  }

  .buttons-body-lab__grey:hover {
    background-image: -webkit-gradient(linear, left top, right top, from(#29323c), color-stop(#485563), color-stop(#2b5876), to(#4e4376));
    background-image: -o-linear-gradient(left, #29323c, #485563, #2b5876, #4e4376);
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.75);
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.75);
    background-position: 100% 0;
  }

  .buttons-body-lab__green:hover {
    background-image: -webkit-gradient(linear, left top, right top, from(#009245), color-stop(#FCEE21), color-stop(#00A8C5), to(#D9E021));
    background-image: -o-linear-gradient(left, #009245, #FCEE21, #00A8C5, #D9E021);
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    background-position: 100% 0;
    -webkit-box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
            box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
  }

  .exclusive__button:hover {
    background-image: -webkit-gradient(linear, left top, right top, from(#29323c), color-stop(#485563), color-stop(#2b5876), to(#4e4376));
    background-image: -o-linear-gradient(left, #29323c, #485563, #2b5876, #4e4376);
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.75);
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.75);
    background-position: 100% 0;
  }

  .slider-exclusive__button:hover {
    background-color: #6ca33cec;
  }
}